# Fuction

In [ ]:
#Fuction
# Why fuction ?
# Whire once, use many

In [ ]:
Print()
max()
min ()
type ()
input ()

In [ ]:
# grouping statement in one block
# to perform specific task

#sum, diff, prd, div, rem, sqrt, pow and others
# input, process, ouput
# Write one file, record from file
# Save on database, and retrieve from database

In [3]:
# How to create a fuction
def function_name() :
    # Stetements
    pass
def f1() :
    print("Hello from Broadway")

In [9]:
# Calling function
# f1()
for i in range(10):
    f1()

Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway

In [13]:
def calc_sum(n1, n2) :
    print (n1+n2)

In [12]:
calc_sum()

23

In [16]:
num1 = 5
num2 = 7

calc_sum(num1, num2)

12

Enter First no. : 10
Enter Second no. :  12

22

In [17]:
num1 = input("Enter First no. :")
num2 = input ("Enter Second no. : ")
num1 =int(num1)
num2 = int(num2)
calc_sum(num1, num2)

Enter First no. : 10
Enter Second no. :  20

30

In [21]:
def calc_sum2(n1,n2) :
    return n1+n2

In [23]:
num1 = input("Enter First no. :")
num2 = input ("Enter Second no. : ")
num1 =int(num1)
num2 = int(num2)
res =calc_sum2(num1,num2)
print(res)

Enter First no. : 10
Enter Second no. :  20

30

In [24]:
def print_message(message):
    print(message)
    
def calc_sum(n2, n2):
    retunr n1+n2

SyntaxError: invalid syntax (102233160.py, line 5)

In [26]:

def print_message(message):
    print(message)
    
def calc_sum(n1, n2):
    return n1+n2

In [ ]:
task#6
    # Enter id : _1
    # Enter name :_Raj
    # Enter Sub1: _56
    # Enter sub2 : _54
    # Enter Sub3 : _45
    # Total : 155
    # Average :51.xxx
    # Result : PASS
# Create fuctions to solve the
# Result processing system.

In [7]:
def Total_Marks (a,b,c):
    return(a+b+c)
def Average_Marks() :
     return((a+b+c)/3)

In [5]:
input("Enter Id :" )
input("Enter Name : ")
num1 = int(input("Enter Subjet_1 Mark : "))
num2 = int(input("Enter Subjet_2 Mark : "))
num3 = int(input("Enter Subjet_3 Mark : "))
Total_Marks(num1, num2, num3)
Average_Marks(num1, num2, num3)

Enter Id : 1
Enter Name :  ram
Enter Subjet_1 Mark :  10
Enter Subjet_2 Mark :  20
Enter Subjet_3 Mark :  30

TypeError: Average_Marks() takes 0 positional arguments but 3 were given

In [9]:
# Function
def f1():
    print("Hello from f1")

def f2(num1, num2) :
    print(num1+num2)
    
def f3() :
    return 10+3

def f4(num1, num2) :
    return num1+num2

In [10]:
f1()

Hello from f1

In [22]:

f2(2,4)
f2(2,4)

6
6

In [19]:
var1=f3()
print(var1)

13

In [25]:
num1=5
num2=6
result=f4(num1,num2)
print(result)

11

In [29]:
def f5(num1=0,num2=0):
    return num1+num2

In [46]:
res1=f5(num1=7,num2=8)

print(res1)

15

In [51]:
Res2=f5(num1=2,num2=5)

print(res)

3

In [49]:
res=f5(num1=3)
print(res)

3

In [43]:
res=f5(num2=100)
print(res)

100